## Creating Databases in MySQL

In [3]:
### Create MySQL Connection
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="12345"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000257704B4940>

## Creating Databases

In [5]:
cursor = connection.cursor()

cursor.execute("CREATE DATABASE APC1")

In [6]:
cursor.execute('SHOW DATABASES')

In [7]:
for database in cursor:
    print(database)

('apc',)
('apc1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

## Execute And Drop Some Databases And Check

# Creating Tables And Inserting Records

In [9]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="12345",
  database="APC1"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002577163B0A0>

## Create Table In MySQL using Python

In [10]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

## Insert Records in Table

In [11]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [12]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("AYUSH", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [13]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("ASHISH", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 3

In [14]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("AMAN", "PT")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 4

In [15]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("APC", "Stats"),
        ("Joe", "Maths"),
        ("CHHOKER VAI","Data Science"),
        ("JHADAV","Data Science"),
        ("CHETIBOD","Maths"),
        ("AYUSH PRATAP CHHOKER","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 5

## Select All

In [16]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [18]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'AYUSH', 'Stats'),
 (3, 'ASHISH', 'Stats'),
 (4, 'AMAN', 'PT'),
 (5, 'APC', 'Stats'),
 (6, 'Joe', 'Maths'),
 (7, 'CHHOKER VAI', 'Data Science'),
 (8, 'JHADAV', 'Data Science'),
 (9, 'CHETIBOD', 'Maths'),
 (10, 'AYUSH PRATAP CHHOKER', 'Data Science')]

In [32]:
### Fetch One Record At A time
cursor.fetchone()

In [33]:
lst=cursor.fetchall()

In [34]:
for records in lst:
    print(records)

## Selecting Particular Rows

In [35]:
cursor.execute("Select * from studentinfo where name='AYUSH PRATAP CHHOKER'")

In [36]:
### Fetch All the Data
cursor.fetchall()

[(10, 'AYUSH PRATAP CHHOKER', 'Data Science')]

## Select Particular Columns

In [37]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Stats',),
 ('PT',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [38]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('PT',), ('Maths',), ('Data Science',)]

In [40]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'APC' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('APC', 'Stats'),
 ('CHHOKER VAI', 'Data Science'),
 ('JHADAV', 'Data Science'),
 ('AYUSH PRATAP CHHOKER', 'Data Science')]

## Drop Table

In [ ]:
cursor.execute("DROP TABLE studentinfo")